name: api-gateway
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

jwt:
  secret: HzuB51qUtRI46D8pWRF6n2pOFJWpZU5WRGM+Mm3lo8w=
